footer.site-footer
	display: flex
	align-items: flex-start
	justify-content: space-between
	background: #2D394B
	padding: 20px 34px

	div.footer-column
		margin: 14px 0px
		flex-grow: 1
		text-align: center

		// text
		font-family: 'Montserrat', sans-serif
		color: #6A727E
		color: mandy
		font-weight: 400
		font-size: 14px
		line-height: 24px

		p
			width: 240px
			margin: 0 auto

	div.social-links
		a
			display: block
			float: right
			margin-right: 8px
			img
				width: 60px
				height: auto

@media screen and(max-width: 810px)
	footer.site-footer
		flex-wrap: wrap
		div.footer-column
			flex-basis: 100%

			p
				width: 100%
				margin: 0px

		div.social-links
			a
				float: none
				display: inline-block

@media screen and(max-width: 490px)
	footer.site-footer
		div.social-links
			bottom: 17px
			left: 34px

			a
				&:last-of-type
					margin-right: 0%