.site-footer
	background: #2E394C

	// text
	color: #6A727E

	// anchor
	a
		text-decoration: none
		transition: color 0.2s
		color: #75B2E0

		&:hover, &:active
			color: #CBE2F3		

	.footer-top-shelf
		padding: 50px 0px

	.footer-content-wrap.clear-both
		position: relative

	.footer-column
		width: 50%
		min-height: 1px
		box-sizing: border-box
		float: left

		// text
		font-size: 14px
		line-height: 24px

		&:nth-of-type(1)
		&:nth-of-type(2)
			position: relative
			padding-left: 34px
			padding-right: 120px

			&:after
				content: ""
				display: block
				position: absolute
				top: 0
				bottom: 0
				left: -0.5px
				width: 1px
				background: #6A727E

		p
			margin: 0px auto

			&:nth-of-type(1)
				margin-bottom: 17px

	.logos-wrap
		position: absolute
		top: 0
		left: 25%
		transform: translateX(-50%)
		img
			max-height: 85px
			opacity: 0.4
			padding: 0px 45px

	.small-dsp-show
		display: none

	.organiztions-wrap
		position: absolute
		bottom: 0
		text-align: center
		left: 25%
		transform: translateX(-50%)

	.footer-bottom-shelf
		padding: 12px 120px
		background: #1C293C
		font-size: 14px
		line-height: 32px

		.social-icons-wrap
			float: right

		a.icon
			display: block
			float: right
			margin-left: 34px
			img
				display: block
				width: 32px
				height: auto
				transition: transform 0.4s

				&:hover
					transform: scale(1.5)

@media screen and(max-width: 1160px)
	.site-footer
		.logos-wrap img
			max-height: 75px
			padding: 0px 20px

		.small-dsp-none
			display: none
		.small-dsp-show
			display: block

@media screen and(max-width: 960px)
	.site-footer
		.footer-column
			&:nth-of-type(2)
				padding-right: 50px

		.footer-top-shelf
			padding: 50px 0px

		.footer-bottom-shelf
			padding: 12px 50px

@media screen and(max-width: 640px)
	.site-footer
		.footer-top-shelf
			padding: 34px 0px

		.footer-bottom-shelf
			padding: 12px 34px

		.logos-wrap
			position: static
			margin: 0px 0px 17px
			text-align: center
			left: 0
			transform: translateX(0%)
			img
				max-height: 75px
				padding: 0px 20px

		.organiztions-wrap
			position: static
			margin: 17px 0px
			text-align: center
			left: 0
			transform: translateX(0%)
		.footer-column
			width: 100%

			&:nth-of-type(2)
				border-left: 0px
				padding: 0px
				text-align: center

				&:before
					content: ""
					display: block
					width: 50px
					height: 1px
					margin: 0px auto 17px
					background-color: #6A727E

				&:after
					display: none

		.footer-bottom-shelf
			text-align: center

			.social-icons-wrap
				float: none
				margin: 17px auto 0px
				text-align: center
				width: 200px

			a.icon
				display: inline-block
				float: none
				margin-left: 34px
				&:nth-of-type(1)
					margin-left: 0px

				img
					display: block
					width: 32px
					height: auto
					transition: transform 0.4s

					&:hover
						transform: scale(1.5)