@import "../gradient-card/gradient-card.sass"

#post-container
	font-family: 'Montserrat', sans-serif
	.post-header
		position: relative
		background:
			size: cover
			position: center
		padding-top: 40%
		box-sizing: border-box

		h1
			position: absolute
			bottom: 0
			padding: 68px 120px 44px
			width: 100%
			box-sizing: border-box
			text-align: center
			background: linear-gradient(0deg, rgba(45, 57, 75, 1), rgba(45, 57, 75, 0.9), rgba(45, 57, 75, 0.7), rgba(45, 57, 75, 0))
			margin: 0px

			a
				// text
				display: inline-block
				text-decoration: none
				font-weight: 600
				color: white
				font-size: 44px
				line-height: 64px
				text-shadow: 0px 0px 5px rgba(0,0,0,0.25)
				transform: translateY(25px)

				// animation
				@extend .showUp-animation-defaults

			span
				display: block
				color: #fefefe
				font-size: 14px
				line-height: 21px
				text-shadow: 0px 0px 5px rgba(0,0,0,0.25)

	.content-text
		padding: 68px 120px
		margin-bottom: 68px

		// text
		font-size: 16px
		line-height: 24px
		column-count: 2
		column-gap: 48px

		// animation
		@extend .showUp-animation-defaults
		animation-delay: 0.15s

		p
			margin-top: 0px
			margin-bottom: 34px

		// anchor
		a
			text-decoration: none
			color: #75B2E0	

@media screen and(max-width: 960px)
	#post-container
		.post-header
			padding-top: 50%

			h1
				padding: 68px 68px 44px
		.content-text
			padding: 68px

			// text
			column-gap: 34px

@media screen and(max-width: 780px)
	#post-container
		.post-header
			padding-top: 60%

			h1
				padding: 34px 34px
		.content-text
			padding: 34px

			// text
			column-count: 1
			column-gap: 0px
			font-size: 14px
			line-height: 21px

@media screen and(max-width: 640px)
	#post-container
		.post-header
			padding-top: 70%

			h1 a
				// text
				font-size: 48px
				line-height: 76px


@media screen and(max-width: 480px)
	#post-container
		.post-header
			padding-top: 80%

			h1 a
				// text
				font-size: 32px
				line-height: 48px
