@import "settings"

html
	// windows phone - remove 300ms delay
	-ms-touch-action: manipulation
	touch-action: manipulation

body
	min-height: 100vh
	overflow-y: scroll
	background: white

	// font defaults
	font-family: "Montserrat",sans-serif
	font-size: 16px
	line-height: 24px
	color: #2E3A4A
	
#content
	max-width: $content-max-width
	box-sizing: border-box
	margin: 60px auto 0px

@media screen and (max-width: 780px)
	#content
		margin-top: 50px

@media screen and (max-width: 720px)
	#mobile-menu-zoom-el
		transition: transform 0.4s
		transform: scale(1)
		transform-origin: center 50vh
